{{!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/form.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <script src="./js/form.js"></script>

    <script src="https://unpkg.com/blob-util/dist/blob-util.min.js"></script>




    <title>Post a Drink baybeeeeee</title>
</head> --}}

<style>
    .img-holder {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: block;
    }
</style>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="./images/170628_004.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="container titl_contain">
        <div class="row title">
            <div class="col-lg-12" id="title-box">
                <span class="title-text">
                    The Drink List
                </span>
            </div>
        </div>
    </div>

    <div class="container form_contain">
        <div class="row form_row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" id="forms-col">
                <form>
                    <label for="drink_name">
                        <h1>Drink Name</h1>
                    </label>
                    <input class="form-control form-control-lg" id="drink_name" type="text"
                        placeholder="Ex: White Russian">
                    <br>

                    <div class="form-group">
                        <label for="ingredients">
                            <h1>Ingredients</h1>
                        </label>
                        <textarea class="form-control" id="ingredients" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="steps">
                            <h1>Directions</h1>
                        </label>
                        <textarea class="form-control" id="steps" rows="3"></textarea>
                    </div>

                    <!-- <div class="form-group">
                        <label for="comments">
                            <h1>Comments</h1>
                        </label>
                        <textarea class="form-control" id="comments" rows="3"></textarea>
                    </div> -->

                    <h1>Attach an Image</h1>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="fileupload" value="fileupload" class="custom-file-input"
                                id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                            <label class="custom-file-label" for="inputGroupFile04">Choose file...</label>
                        </div>
                    </div>
                    <br>


                    <button id="submit" type="button" class="btn btn-success btn-lg btn-block get-image-data">
                        <span>Submit my Drink</spasn>
                    </button>

                    <img class="img-holder" src="" alt="">





                </form>
            </div>

            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Post Confirmation</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Your drink was successfully posted.</p>
                            <p>Click "Alrighty" to continue...</p>
                        </div>
                        <div class="modal-footer">
							<a href="/">
                            	<button type="button" class="btn btn-warning" data-dismiss="modal">Alrighty</button>
							</a>
                        </div>
                    </div>
                </div>
            </div>

			
        </div>
    </div>


</body>

</html>